{% extends 'navbar.html'%}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> CIS </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href = "{% static 'css/res.css' %}">
</head>
<body>

<br>
<div class='text-center'><h3> รายชื่อนักศึกษาที่รับผิดชอบ </h3></div>
        <br>
    <div class="center">
        <table id="t01">
            <tr>
                <th><b>รายชื่อ</b></th>
                <th><b>เลขที่</b></th>		
                <th><b>เลขทะเบียนนักศึกษา</b></th>
            </tr>
            <tr>
                <td><a href="#">หทัยรัตน์ เล้าชินทอง</a></td>
                <td>1</td>		
                <td>6209656153</td>
            </tr>
            <tr>
                <td><a href="{% url 'student_profile' %}">เรณุกา สิมะดำรงค์</a</td>
                <td>2</td>		
                <td>6209656351</td>
            </tr>   
        </table>
    </div>
<br>
<br>  
</body>
</html>
{% endblock %}